.about-featured{
    background-image: url(../../public/assets/Baclground\ 2\ 1.png);
    background-size:cover; 
    background-repeat: no-repeat;
    position: relative;
    z-index:-10;
     /* background-position: start center; */

}
.main-header-img{
    background-image: url(../../public/assets/Baclground\ 1\ back\ 2.png);
    background-size:cover;
    background-repeat: no-repeat;
     background-position: center center;
}
.all-feature-section{
        background-image: url(../../public/assets/background3\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
     /* background-position: center center; */

}
.main-howbuy-img{
     background-image: url(../../public/assets/Group\ 1597885443.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -80px;
}
.TokenNomic-background-img{
       background-image: url(../../public/assets/backgrounds\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -120px;  
    position: relative;
    z-index:1;
}
.main-precel-bounces{
      background-image: url(../../public/assets/background6\ 2.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:-100px;
     position: relative;
    z-index:0;
}
.main-charateristic{
        background-image: url(../../public/assets//background7\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
      margin-top:0px;
     position: relative;
       /* z-index:-1 !important; */
}
.main-brett-war{
     background-image: url(../../public/assets/background9\ 1.png);
    background-size:cover;
    background-repeat: no-repeat; 
    margin-top:-170px;
}
.roadmap-background-img{
         background-image: url(../../public/assets/Tokenomics\ characters.png);
    background-size:cover;
    background-repeat: no-repeat; 
       margin-top:-110px;
}
.calculator-background-img{
    background-image: url(../../public/assets/background8\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
     margin-top:-110px;
     z-index: -1;
}
@media screen and (max-width: 786px) {
   .TokenNomic-background-img{
       background-image: url(../../public/assets/backgrounds\ 1.png);
   background-size: cover;       /* fill container */
  background-position: center;  /* keep centered */
  background-repeat: no-repeat; /* avoid tiling */
 width: 100%;
} 
.early-adopt{
    top:9vh;
}
.sub-precel-bounces{
    flex-direction: column !important;
    gap: 80px;
}
.main-precel-section{
    width:90vw !important;
}
.sub-parcel-div{
    /* width: 100% !important;
    margin: auto !important; */
}
.early-adopt {
left: 40vw;
}
.sub-parcel-div{
    /* width: 100% !important; */
    margin-left: 2vw !important;
}
.precel-bounce-section{
    margin-right: 0px !important;
}
.precel-bounce-section1{
    padding-left: 0px !important;
}
.sub-section-charateristic-list {
display:flex !important;
flex-direction: column !important;
}

}

@media screen and (max-width:590px) {
   .car-img-responsiveg{
 margin-top:30px !important;
} 

.build-on-etherem{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.steps{
    width: 70px !important;
}
    .how-we-buy-text{
        padding-top: 0px !important;
    }
    .main-how-buy{
        display: flex !important;
        flex-direction: column !important;
        width:94vw !important;
    
        margin-left:1% !important;
    }
    .token30{
        position: absolute;
        top:18vh !important;
        left:39vw;
    }
    .token25{
         position: absolute;
        top:33vh !important;
        left:20vw;  
    }
    .token8{
         position: absolute;
        top:46vh !important;
        left:39vw; 
    }
    .token15{
           position: absolute;
        top:60vh !important;
        left:20vw;   
    }
    .token5{
          position: absolute;
        top:73vh !important;
       left:39vw;  
    }
    .twopointfive{
          position: absolute;
        top:85vh !important;
         left:20vw;  
    }
    .tokenone{
          position: absolute;
        top:98vh !important;
       left:39vw; 
    }
    .tokenthreepointfive{
         position: absolute;
        top:98vh !important;
       left:39vw;  
    }

    .symbol-board{
        margin-top: 30px !important;
    }
    .early-adopt {
top: 20vw;
}
.sub-precel-bounces{
    flex-direction: column !important;
    gap:180px;
}
.hello-parcel{
    flex-wrap: wrap !important;
}
.parcel-bounce-name{
    width: 50vw !important;
    font-size: 3.5rem !important;
}
.main-precel-section{

    width:96vw !important;
    margin-left:10px !important;
    /* margin-left:0px !important; */
}
.main-precel-bounces{
    padding-top: 20px !important;
    padding-bottom:70px !important;
}
.alien3{
    display: none;
}
.early-adopt{
    display: none !important;
}
.eightthreedancing{
    display: none !important;
}
.alian7{
    display: none !important;
}
.adzrism{
    display: none !important;
}
.main-precel-bounces{

    /* margin-top: -8vh !important; */
    padding-top:-10vh !important;
}
.main-layer-brett-button1{
    flex-direction: column !important;
}
.speed-text{
    width: 60vw !important;
}
.submain-precel-bounces{
    position: static !important;
}
.transcation-image-sec1{

}
.transcation-image-sec11{
    width: 96vw !important;
}
.transcation-image-sec1{
    width:90% !important;
    left: 5% !important;
}
.img-sec-div1{
    width: 10% !important;
    height:29% !important;
    padding: 3px !important;
}
.img-sec-div-one{
height: 10px !important;
width: 10px !important;

}
.million-giveaway{
    font-size:20px !important;
    margin-top: -2px  !important;
    padding-top: 2px !important;

}
.buy-and-stake2-text{
font-size: 13px !important;
margin-left:17% !important;
}
.buy-and-stake2{
   width:35% !important; 
   margin-left:6% !important;
}
.ractangle1{
    width: 20px !important;
    height: 20px !important;
    all: unset !important;
    display: none !important;
}
.ractangle2{
    width: 20px !important;
    height: 20px !important;
    all: unset !important;
    display: none !important;
}
.ractangle3{
    width: 20px !important;
    height: 20px !important;
    all: unset !important;
    display: none !important;
}
.ractangle4{
    width: 20px !important;
    height: 20px !important;
    all: unset !important;
    display: none !important;
}
.ractangle5{
    width: 20px !important;
    height: 20px !important; 
    all: unset !important;
    display: none !important;

}
.cal-section-div{
    width: 100vw !important;
margin-left:0vw !important;
all: unset !important;
display: none !important;
}
}