.about-featured{
    background-image: url(../../public/assets/Baclground\ 2\ 1.png);
    background-size:cover; 
    background-repeat: no-repeat;
    position: relative;
    z-index:-10;
     /* background-position: start center; */

}
.main-header-img{
    background-image: url(../../public/assets/Baclground\ 1\ back\ 2.png);
    background-size:cover;
    background-repeat: no-repeat;
     background-position: center center;
}
.all-feature-section{
        background-image: url(../../public/assets/background3\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
     /* background-position: center center; */

}
.main-howbuy-img{
     background-image: url(../../public/assets/Group\ 1597885443.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -80px;
}
.TokenNomic-background-img{
       background-image: url(../../public/assets/backgrounds\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: -120px;  
    position: relative;
    z-index:1;
}
.main-precel-bounces{
      background-image: url(../../public/assets/background6\ 2.png);
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:-100px;
     position: relative;
    z-index:0;
}
.main-charateristic{
        background-image: url(../../public/assets//background7\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
      margin-top:0px;
     position: relative;
       /* z-index:-1 !important; */
}
.main-brett-war{
     background-image: url(../../public/assets/background9\ 1.png);
    background-size:cover;
    background-repeat: no-repeat; 
    margin-top:-170px;
}
.roadmap-background-img{
         background-image: url(../../public/assets/Tokenomics\ characters.png);
    background-size:cover;
    background-repeat: no-repeat; 
       margin-top:-110px;
}
.calculator-background-img{
    background-image: url(../../public/assets/background8\ 1.png);
    background-size:cover;
    background-repeat: no-repeat;
     margin-top:-110px;
     z-index: -1;
}
@media screen and (max-width: 786px) {
   .TokenNomic-background-img{
       background-image: url(../../public/assets/backgrounds\ 1.png);
   background-size: cover;       /* fill container */
  background-position: center;  /* keep centered */
  background-repeat: no-repeat; /* avoid tiling */
 width: 100%;
  /* height: 100vh;     */
    /* margin-top: -20px;   */
} 
    
}